nav {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
}

.navbar {
  --bs-navbar-brand-font-size: 1.7rem !important;
}

.navbar-nav {
  --bs-nav-link-padding-y: 1.5rem !important;
  --bs-nav-link-font-weight: 500 !important;
  --bs-nav-link-hover-color: rgb(255 255 255) !important;
}
