.services {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/servicesBg.png') center / cover no-repeat fixed;
}

.services-heading::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #23bb9f73;
  border-radius: 10px;
  margin: 20px 0;
}

.services .card {
  --bs-card-border-width: 0 !important;
  --bs-card-bg: #ffffff6b !important;
  backdrop-filter: blur(9px);
  transition: 0.3s;
}

.services .card:hover {
  transform: scale(1.1);
}

.services .card p {
  font-size: 1.25rem !important;
}
